{% extends 'base.html.twig'%}

{% block body %}

    <article>
        <br>
        <h2>{{ annonce.title }}</h2>
        <div class="metadata" >Posté le {{ annonce.date | date("d/m/Y")}}</div>
        <div class="metadata" >Catégorie : {{ annonce.type.title }}</div>
        <div>
            <img src="{{ annonce.image }}" alt="">
            <br>
            <p>{{ annonce.content }}</p>
            <a href="{{ path('edit_announce', {'id': annonce.id}) }}" class="btn btn-primary">Modifier l'annonce</a>
            <a href="{{ path('delete', {'id': annonce.id}) }}" class="btn btn-primary">Supprimer l'annonce</a>
        </div>
    </article>
    <br>
    <br>

    <section id="commentaires">
        {% for comment in annonce.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{  comment.author }} (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
                </div>
                <div class="col">
                    {{ comment.content  | raw }}
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </section>

{% endblock %}